<!DOCTYPE html>
<html>
  <head>
    <title>GestorDeProyectos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container d-flex justify-content-end mb-3 col-md-6">
      <button class="text-center bg-secondary mr-3 border-0">
        <%= link_to "Crear un nuevo proyecto", projects_index_path, :class => "link" %>
      </button>
      <button class="bg-secondary text-center border-0">
        <%= link_to "Ver proyectos creados", projects_dashboard_path, :class => "link" %>
      </button>
    </div>
    <%= yield %>
  </body>
</html>
